spring:
  datasource:
    url: jdbc:mysql://localhost:3307/banking_db
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

flyway:
  enabled: true
  locations: classpath:db/migration

jwt:
  secret: 1234467890abcdefghijklmnopqrstuvwxyz
  expiration: 3600 

logging:
  level:
    org.springframework.security: DEBUG
    com.rohitsurya2809.vaultedge.security: DEBUG