spring:
  datasource:
    url: jdbc:mysql://localhost:3307/banking_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

flyway:
  enabled: true
  locations: classpath:db/migration

jwt:
  secret: 12344567890abcdefghijklmnopqrstuvwxyz
  expiration: 3600 

logging:
  level:
    org.springframework.security: DEBUG
